<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="{% url 'update' gym.id %}">
        {% csrf_token %}
        <h4>제목</h4>
        <input name="title" type="text" value="{{gym.title}}">
        <br>
        <br>
        <h4>본문</h4>
        <textarea name="content" cols="30" rows="10">{{gym.content}}</textarea>
        <br>
        <br>
        <button type="submit">작성하기</button>
        <br>
        <br>
        <a href="{%url 'detail' gym.id %}">취소</a>
    </form>
</body>
</html>